@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    justify-content: center;
    align-items: center;
}
.container{
    width: 280px;
    border-radius: 25px;
    background-color: #fff;
    padding: 15px;
    font-weight: 500;
    margin-left: 40%;
    margin-top: 7%;
    position: center;
}
.qr{
    width: 100%;
    margin-bottom: 15px;
}
.code{
    width: 100%;
    padding: 7px;
}
.text{
    width: 85%;
    text-align: center;
    margin: auto;
    padding: auto;
}
.head{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
    color: hsl(218, 44%, 22%);
}
.p2{
    font-size: 15px ;
    font-weight: 400;
    color: hsl(212, 66%, 69%);
}
.bottom { 
    font-size: 13px; 
    text-align: center;
    padding-top: 55px;
    position: static;
    
}
    .bottom a { 
        color: hsl(228, 45%, 44%); 
    }